body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #ffe6e9;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 20%;
}

h1 {
  font-size: 2.5rem;
  color: #ff6392;
}

.buttons button {
  font-size: 1.2rem;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

#yesButton {
  background-color: #ff85a2;
  color: white;
}

#noButton {
  background-color: #999;
  color: white;
}

.buttons button:hover {
  transform: scale(1.1);
}

#response {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #ff6392;
}
